<footer id="contact" class="custom-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="contact-info">
                    <div class="footer-heading">
                        <h4 style="color: white; margin-bottom: 15px; margin-top: 15px">Контакты</h4>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <p class="foot-black">Praesent iaculis gravida elementum. Proin
                                fermentum neque facilisis semper pharetra. Sed
                                vestibulum vehicula tincidunt.</p>
                        </div>
                        <div class="col-xs-7" style="color: white;">
                                <span>Номер: {{ contact.phone_number }}</span><a href="#"></a><br>
                                <span>Почта: {{ contact.email }}</span><a href="#"></a><br>
                                <span>Адрес: {{ contact.address }}</span><a href="#"></a><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
